#
# File di configurazione di default per l'ambiente di PROD
# Se nello startup del processo non viene passato il flag -env
# l'applicazione viene configurata con questo file
#
Env=PROD
WebPort=8080
MinerAddress=0.0.0.0:50051
MinerUsername=root
MinerPassword=
StartTimer=false
Fascia1StartCronTime=0 00 07 * * *
Fascia2StartCronTime=0 00 09 * * *
Fascia3StartCronTime=0 30 10 * * *
Fascia4StartCronTime=0 30 16 * * *
Fascia5StartCronTime=0 00 20 * * *
Fascia1PowerThreshold=500
Fascia2PowerThreshold=1500
Fascia3PowerThreshold=3000
Fascia4PowerThreshold=1500
Fascia5PowerThreshold=0
EMailSend=true
EMailSMTPHost=mail.smtp2go.com
EMailSMTPPort=2525
EMailSMTPUsername=
EMailSMTPPassword=
EMailFrom=andrea@dellechiaie.it
EMailTo=
EMailSubject=MinerAndCommander Operation
MQTT.URL=URL
MQTT.User=USER
MQTT.Password=PASSWORD
MQTT.Prefix=PREFIX
